---
layout: default
title: Research and Stuff
header: Welcome
---
{% include JB/setup %}

<h3>Welcome</h3>

<br>

My name is Indr&#279; &#381;liobait&#279;. I'm an interdisciplinary scientist and a data explorer.
 More info about my research is on <a href="http://www.zliobaite.com">my website </a>.
I post bits and pieces about my research, unexpected discoveries and peculiar findings, as well as academic life here.
<br><br>


<h3>Recent Posts</h3>
<ul>
  {% for post in site.posts limit: 20 %}
    <li>
    {{ post.date | date_to_string }} &raquo; 
    <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

<b> Check out </b> <a href={{ site.baseurl }}/archive.html>older posts.</a>
