---
layout: default
title: Research and Stuff
header: Welcome
---
{% include JB/setup %}

<h3>Welcome</h3>

<br>

My name is Indr&#279; &#381;liobait&#279;. 
I am a research scientist in data analysis. 
I'm posting bits and pieces related to data science that I do. <br>

Lately, the blog focuses on fairness in machine learning and data mining.<br>

We study how to make predictive models free from discrimination, 
when historical data, on which they are built, may be biased, incomplete, 
or even contain past discriminatory decisions. <br>

See my <a href="http:www.zliobaite.com"> website </a> for more info about my research. <br>

<h3>Recent Posts</h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li>
    {{ post.date | date_to_string }} &raquo; 
    <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>